@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shadowsintolight/v14/UqyNK9UOIntux_czAvDQx_ZcHqZXBNQDcg.ttf) format('truetype');
}
body {
  font-family: 'Shadows Into Light', cursive;
  background-color: #b9fdf8;
}
a {
  text-decoration: none;
  color: #3888ff;
}
a:hover {
  color: #25559c;
}
.myImg {
  border-radius: 90px;
  height: 180px;
  width: 180px;
}
.logo {
  width: 224px;
  height: 69px;
}
